<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.mdeboer.atom</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CD25A48-2431-45EE-899F-68D3A2033B02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Maarten de Boer</string>
	<key>description</key>
	<string>Simple workflow that allows you to browse and open Atom projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>96</integer>
				<key>script</key>
				<string>/usr/local/bin/Atom {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8CD25A48-2431-45EE-899F-68D3A2033B02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>atom</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading projects...</string>
				<key>script</key>
				<string>/usr/local/bin/node main.js projects "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Load Atom project</string>
				<key>title</key>
				<string>Atom</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Simple workflow that allows you to browse and open Atom projects.

Requirements:
- NodeJS (node)
- Atom Project Manager package (https://atom.io/packages/project-manager)

Usage:
Simply type atom and press space to list all projects. Optionally type a search string to filter results.</string>
	<key>uidata</key>
	<dict>
		<key>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8CD25A48-2431-45EE-899F-68D3A2033B02</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/Cloudstek/alfred-atom</string>
</dict>
</plist>
