<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.mdeboer.atom</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0F5710F0-0FB4-42B9-9DCD-960FBED55A43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E54949AF-E280-448B-A7D5-E66996494FB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80840762-F092-4C77-B135-FA4AEBE86A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14E5559D-490B-4316-8AB3-F36197AD4437</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E26AB-2CA3-4F6D-8A86-A5909476B368</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68C1FEE7-FF2D-4DDA-8DD8-81DC2A9070DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14E5559D-490B-4316-8AB3-F36197AD4437</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E4B519-8F01-4A94-B5EB-E8DC8CFE0CD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F5710F0-0FB4-42B9-9DCD-960FBED55A43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6E4B519-8F01-4A94-B5EB-E8DC8CFE0CD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38D13A34-4B8D-4D25-9DDE-8BC333F74A1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E54949AF-E280-448B-A7D5-E66996494FB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA14A5F5-603C-43C4-B653-47FF65BF250F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Maarten de Boer</string>
	<key>description</key>
	<string>Simple workflow that allows you to browse and open Atom projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>34</integer>
				<key>script</key>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A28E26AB-2CA3-4F6D-8A86-A5909476B368</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>atom</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading projects....</string>
				<key>script</key>
				<string>${nodePath:-/usr/local/bin/node} main.js rebuild-icons</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List all your Atom projects</string>
				<key>title</key>
				<string>Atom</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>68C1FEE7-FF2D-4DDA-8DD8-81DC2A9070DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:task}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>wfUpdate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>14E5559D-490B-4316-8AB3-F36197AD4437</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>atom</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading projects...</string>
				<key>script</key>
				<string>${nodePath:-/usr/local/bin/node} main.js projects "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>38D13A34-4B8D-4D25-9DDE-8BC333F74A1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:task}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>wfUpdate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D6E4B519-8F01-4A94-B5EB-E8DC8CFE0CD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${nodePath:-/usr/local/bin/node} main.js rebuild-icons</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E54949AF-E280-448B-A7D5-E66996494FB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Project icons have been rebuilt!</string>
				<key>title</key>
				<string>Atom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BA14A5F5-603C-43C4-B653-47FF65BF250F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:task}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>rebuild-icons</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0F5710F0-0FB4-42B9-9DCD-960FBED55A43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Rebuilding project icons!</string>
				<key>title</key>
				<string>Atom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>80840762-F092-4C77-B135-FA4AEBE86A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Simple workflow that allows you to browse and open Atom projects.

Requirements:
- NodeJS (node)
- Atom Project Manager package (https://atom.io/packages/project-manager)

Usage:
Simply type atom and press space to list all projects. Optionally type a search string to filter results.</string>
	<key>uidata</key>
	<dict>
		<key>0F5710F0-0FB4-42B9-9DCD-960FBED55A43</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>14E5559D-490B-4316-8AB3-F36197AD4437</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>38D13A34-4B8D-4D25-9DDE-8BC333F74A1F</key>
		<dict>
			<key>note</key>
			<string>Update workflow</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>68C1FEE7-FF2D-4DDA-8DD8-81DC2A9070DA</key>
		<dict>
			<key>note</key>
			<string>Filter projects</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>80840762-F092-4C77-B135-FA4AEBE86A93</key>
		<dict>
			<key>note</key>
			<string>Rebuilding started</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>8AF6156F-3E0C-46B9-8D05-5A5589D09EF5</key>
		<dict>
			<key>note</key>
			<string>Filter projects</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>A28E26AB-2CA3-4F6D-8A86-A5909476B368</key>
		<dict>
			<key>note</key>
			<string>Run atom</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>BA14A5F5-603C-43C4-B653-47FF65BF250F</key>
		<dict>
			<key>note</key>
			<string>Rebuilding done</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>D6E4B519-8F01-4A94-B5EB-E8DC8CFE0CD7</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>E54949AF-E280-448B-A7D5-E66996494FB0</key>
		<dict>
			<key>note</key>
			<string>Rebuild icons</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>atomPath</key>
		<string></string>
		<key>nodePath</key>
		<string>/usr/local/bin/node</string>
		<key>terminalApp</key>
		<string>iTerm</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>nodePath</string>
		<string>terminalApp</string>
		<string>atomPath</string>
	</array>
	<key>version</key>
	<string>2.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/Cloudstek/alfred-atom</string>
</dict>
</plist>
